In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
from sklearn.linear_model import LinearRegression

In [6]:
from sklearn import svm,linear_model

In [7]:
df=pd.read_csv("/content/drive/My Drive/Colab Notebooks/result.csv")

In [8]:
df=df[df.columns[1:5]]

In [9]:
df.head()

    open   high    low  close
0  33.76  33.92  32.76  33.27
1  33.15  33.15  30.62  30.88
2  29.17  32.09  29.17  30.00
3  30.17  32.00  30.17  31.69
4  30.75  32.50  30.50  31.66

In [10]:
X=df.iloc[:,0:3].values
X

array([[ 33.76,  33.92,  32.76],
       [ 33.15,  33.15,  30.62],
       [ 29.17,  32.09,  29.17],
       ...,
       [379.5 , 385.9 , 372.1 ],
       [377.85, 382.35, 368.2 ],
       [372.75, 390.9 , 360.3 ]])

In [11]:
Y=df.iloc[:,3:4]
Y

       close
0      33.27
1      30.88
2      30.00
3      31.69
4      31.66
...      ...
5102  376.35
5103  379.95
5104  373.75
5105  369.60
5106  389.35

[5107 rows x 1 columns]

In [12]:
X_train, X_validation, Y_train, Y_validation = train_test_split(X, Y, test_size=0.20, random_state=1)

In [22]:
model = LinearRegression()

In [23]:
model.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [24]:
model.score(X_train, Y_train)

0.9998270906187297

In [16]:
predicted=model.predict(X_validation)
Y_validation=Y_validation.values.tolist()
predicted=predicted.tolist()

In [17]:
predicted[len(predicted)-1]

[327.46653814934916]

In [18]:
Y_validation[len(Y_validation)-1]

[329.4]